header{
    text-align: center;
    background: #94de13;
   
    display: inline;
    margin: 0px -600px 100px 0px;
    height: 222px;
    width: 1239px;
}
body{
    background: #1208ab;
    color: #0c0101;

    display: flex;
}
.section{
    display: flex;
}
.Important{
    text-transform: capitalize;
    text-emphasis: block;
    font-weight: bold;

}

.paso1{
background-color: orange;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: left;
width: 551px;
height: 234px;

margin: 238px -628px;
}

.paso2{
    text-align: center;
    width: 500px;
    height: 229px;
    background: #e43523;
    margin: -477px -60px;

}
.paso3{
    
    margin: 483px 90px 0px -625px;
    height: 168px;
    width: 532px;
   background:  #caae27;
}
.github{
    display: block;
    background: #fd0c0c;

    width: 1220px;
    height: 610px;
    margin: 659px 31px 19px -1012px;
}